<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
            ral.oliver
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">
                    Home
                </a>
            </li>
            <ng-container *ngIf="isLoggedIn$ | async">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/articles/new']">
                        <i class="ion-compose"></i>
                        New post
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/settings']">
                        <i class="ion-gear-a"></i>
                        Setting
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profiles', (currentUser$ | async).username]">
                        <img class="user-pic"
                            [src]="(currentUser$ | async).image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" />
                        {{(currentUser$ | async).username}}
                    </a>
                </li>
            </ng-container>
            <ng-container *ngIf="isAnonymous$ | async">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']">
                        Sign up
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>